.navbar{
  background-color:black;
}
.navbar h1{
  margin-left: 20px;
}
.navbar button{
  border-radius: 10px;
  min-width:90px;
  min-height: 40px;
  font-size: 20px;
  margin:7px;
  justify-content:flex-end !important;
}

.signin{
  background-color: black;
  color:white;
  border:0;
  padding:10px;
 width:200px;
}
.signup{
  background-color: #6870f9;
  border:0;
  margin-right: 50px !important;;
  width:200px;
}
.signin:hover{
  background-color: rgb(62, 57, 57);
   transition: all 0.3s ease;
}
.signup:hover{
  background-color: #7b81fb;
  transition:all 0.3s ease;
}